.footerbody {
    background-color: lightgrey;
}

#footercaption {
    font-family: "CircularStd-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    color: #010101;
    text-align: center;
}

#link {
    text-decoration: none;
}

i {
    font-size: 50px;
    color: black;
}

i:hover {
    color: blue;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;


}